input,
textarea,
select,
button {
  font: inherit;
  box-sizing: border-box;
}

label:not(label[for="menu-toggle"]){
  margin-bottom: 15px;
} 

label:not([for="menu-toggle"]),
input:not([type="checkbox"], [type="radio"]), textarea {
  display: block;
  width: 100%;
  
}




textarea {
  height: 100px;


}

button[type="submit"] {

  float: inline-end;
  padding: 2px 20px;
  cursor: pointer;
}

.radio-button-group{
  label{
    display: inline;
  }
  margin-bottom: 15px;

}