main {
  padding-top: 106px;

  @media (max-width: 575px) {
    padding-top: 68px;
  }
}

header {
  position: fixed;
  width: 100%;
  
  background-color: rgb(2, 61, 14);
  padding: 20px;

  nav {
    /* float fix make a elements in nav
           that have float still take up space */

    display: flow-root;

    a {
        text-decoration: none;
        color: white;
        display: block;
        float: left;
        padding: 0 20px;
    
        /* if I am the first element in the nav (the first child) */
        &:first-child {
          padding: 0%;
        }
    
        /* if I am the last element in the nav (the last child) */
    
        &:last-child {
    
          padding-right: 0
        }
    
        /* if the user hovers with their mouse pointer over me */
    
        &:hover {
          color: aqua;
        }
      }
  }

}
