/* Google fonts*/

@import './box-sizing.css';
@import './fonts.css';
@import './spa-routing.css';
@import './main.css';
@import './header.css';
@import 'hamburger.css';
@import './footer.css';
@import './images.css';
@import './lorem.css';